@model Filme
@{
    ViewData["Title"] = Model.Nome;
}

<main class="bg-[#1F1F1F] flex-grow flex flex-col items-center">
    <div class="w-full md:justify-between md:max-w-[820px] 2xl:max-w-[1024px]">
        <section class="mb-5">
            <div class="p-3">
                <h1 class="text-white text-[25px]">@Model.Nome</h1>
                <h2 class="text-zinc-500 text-[15px]">Título Original: @Model.NomeOriginal</h2>

                <div>
                    <ul class="text-zinc-500 text-[15px] flex list-disc space-x-4 marker:text-[10px] marker:self-center">
                        <li style="list-style-type: none"><h2>Filme</h2></li>
                        <li><h2>@Model.AnoLancamento</h2></li>
                        <li><h2>@Model.FaixaEtaria</h2></li>
                        <li>@($"{Model.Duracao.Hours}h{Model.Duracao.Minutes}min")</li>
                    </ul>
                </div>
            </div>

            <div class="min-[820px]:p-3">
                <video class="rounded-lg object-cover" src="~/trailers/@(Model.Codigo).mp4" muted controls playsinline autoplay type="video/mp4"></video>
            </div>
        </section>

        <section class="px-3">
            <div class="flex space-x-5 mb-5">
                <figure class="relative">
                    <img draggable="false" class="w-[100px] max-w-none sm:w-[150px] bg-black banner rounded-lg rounded-tl-none" src="~/imgs/banner/@(Model.Codigo).jpg" alt="@Model.Nome - Banner" srcset="" />
                    <!-- <object class="absolute top-0 left-0 bookmark" data="imgs/icons/bookmark.svg" type=""></object> -->
                </figure>

                <div class="overflow-x-hidden flex flex-col space-y-5">
                    <div class="flex overflow-x-auto text-zinc-100 text-[15px] space-x-3" style="scrollbar-width: none">
                        @foreach (string genero in Model.Generos)
                        {
                            <div><button class="border-zinc-400 border-solid border-[0.5px] rounded-3xl py-1 px-3 whitespace-nowrap">@genero</button></div>
                        }
                    </div>

                    <div class="max-h-[90px] sm:max-h-[160px] overflow-y-auto">
                        <p class="text-white text-[15px]">@Model.Sinopse</p>
                    </div>
                </div>
            </div>

            <div class="flex space-x-5">
                <div class="flex space-x-1">
                    <span class="material-symbols-outlined material-symbols-filled text-[#f5c518]"> star </span>
                    <div class="flex">
                        <p class="text-white font-bold">@Model.Avaliacao</p>
                        <p class="text-zinc-500 text-[15px]">/10</p>
                    </div>
                </div>

                <div class="flex space-x-1">
                    <span class="material-symbols-outlined text-[#5799ef]"> star </span>
                    <p class="text-[#5799ef] font-bold">Avaliar</p>
                </div>
            </div>
        </section>

        <section class="p-3">
            <hr class="border-zinc-400" />

            <div class="py-3 flex space-x-3">
                <h2 class="text-white font-bold">Direção</h2>
                <h2 class="text-[#5799ef]">@Model.Diretor.Nome</h2>
            </div>

            <hr class="border-zinc-400" />
        </section>
    </div>
</main>

<script type="module" src="js/obra.js"></script>